* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.cursor {
  position: fixed;
  padding: 1rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: 0.5s ease-out;
  pointer-events: none;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .cursor {
    display: none;
  }
}
.cursor-hover {
  background: #ffffff;
  transform: scale(2);
}

.hover-effect {
  mix-blend-mode: difference;
}

@keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  0% {
    transform: translateY(0);
  }
}
.levitation {
  animation-name: levitation;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container__left-column {
  width: 600px;
  border-width: 0 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
}
.container__right-column {
  width: 600px;
  display: flex;
  justify-content: center;
  border-width: 0 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
}

/* NAVIGATION */
.nav-btn {
  width: 60px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  top: 50px;
  right: 5%;
  cursor: pointer;
  z-index: 30;
}
.nav-btn__line {
  width: 100%;
  height: 4px;
  background: #ffffff;
  display: block;
}
.nav-btn__line:last-child {
  width: 75%;
}

.nav {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #575656;
  background: linear-gradient(148deg, #575656 0%, #3b3b3e 4%, #2d2d32 9%, #1a1a1a 20%, #1a1a1a 100%);
  transition: 1s;
  overflow: hidden;
}
.nav__logo img {
  width: 200px;
  margin: 50px;
}
.nav__list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
}
.nav__link {
  text-decoration: none;
  margin: 10px 0;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 900;
  letter-spacing: 2px;
  display: block;
  transition: 0.5s;
  color: white;
}
.nav .container__left-column {
  position: relative;
  border-left: none;
}

.nav-toggle {
  top: 0;
}

@keyframes navfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navfade {
  animation-name: navfade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 992px) {
  .nav__container-right-column {
    display: none;
  }
  .nav__container-left-column {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.1) !important;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
  }
  .nav__logo img {
    transform: unset;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
  }
  .nav__list {
    height: initial;
    border: none;
  }
  .nav__item {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .nav__logo img {
    width: 70px;
  }
}
/* HEADER */
.header {
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
}
.header img {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
