* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  /*
  width: 100%;
  height: 100%;
  overflow: hidden;
  */
}

/*
main {
    display: block;
    width: 100%;
    height: 100%;
}
*/
/*
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: colors.$red;
    border-radius: 20px;
    border: 2px solid white;
}
*/
.cursor {
  position: fixed;
  padding: 1rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: 0.5s ease-out;
  pointer-events: none;
  z-index: 1000;
}

@media screen and (max-width: 1200px) {
  .cursor {
    display: none;
  }
}
.cursor-hover {
  background: #ffffff;
  transform: scale(2);
}

/* .hover-effect {
    mix-blend-mode: difference;
} */
@keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  0% {
    transform: translateY(0);
  }
}
.levitation {
  animation-name: levitation;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container__left-column {
  width: 600px;
  border-width: 0 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
}
.container__right-column {
  width: 600px;
  display: flex;
  justify-content: center;
  border-width: 0 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
}

@media screen and (max-width: 1200px) {
  .container__left-column {
    width: 50%;
  }
  .container__right-column {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container__left-column {
    border: none;
    width: 100%;
  }
  .container__right-column {
    display: none !important;
  }
}
.decor-text {
  display: flex;
  align-items: center;
  padding: 200px 0 300px 0;
}
.decor-text p {
  font-size: 10vw;
  text-align: right;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 10px;
  font-weight: 900;
  transform: rotate(-90deg);
  color: transparent;
  -webkit-text-stroke: 1.5px #ffffff;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

/* NAVIGATION */
.nav-btn {
  width: 60px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  top: 50px;
  right: 5%;
  cursor: pointer;
  z-index: 3000;
}
.nav-btn__line {
  width: 100%;
  height: 4px;
  background: #ffffff;
  display: block;
}
.nav-btn__line:last-child {
  width: 75%;
}

.nav {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
  background: linear-gradient(241deg, #575656 0%, #3b3b3e 4%, #2d2d32 9%, #1a1a1a 20%, #1a1a1a 100%);
  transition: 1s;
  overflow: hidden;
  z-index: 500;
}
.nav__logo img {
  width: 200px;
  margin: 50px;
}
.nav__list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
}
.nav__link {
  text-decoration: none;
  margin: 10px 0;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 900;
  letter-spacing: 2px;
  display: block;
  transition: 0.5s;
  color: #ffffff;
}
.nav .container__left-column {
  position: relative;
  border-left: none;
}

.nav-toggle {
  top: 0;
}

@keyframes navfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navfade {
  animation-name: navfade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 992px) {
  .nav__container-right-column {
    display: none;
  }
  .nav__container-left-column {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.1) !important;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
  }
  .nav__logo img {
    transform: unset;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
  }
  .nav__list {
    height: initial;
    border: none;
  }
  .nav__item {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .nav__logo img {
    width: 70px;
  }
}
/* HEADER */
.header {
  position: relative;
  width: 100%;
  background: #1a1a1a;
  background: linear-gradient(148deg, #575656 0%, #3b3b3e 4%, #2d2d32 9%, #1a1a1a 20%, #1a1a1a 100%);
  /*
  @keyframes circulation {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
  }

  .circulation {
      animation-name: circulation;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  */
}
.header__container {
  min-height: 100vh;
}
.header__container-left-column {
  border-left: none;
}
.header__left-column-content {
  height: calc(100% - 300px);
  padding: 100px 50px 0 50px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
}
.header__logo {
  height: 300px;
}
.header__logo img {
  margin: 5vh 0;
  width: 200px;
  transform: translateX(-100px);
}
.header__title h1 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: 3px;
  line-height: 1.2;
}
.header__title h1 span {
  font-weight: 600;
}
.header__title::after {
  content: "";
  width: 200px;
  height: 2px;
  margin: 30px 0;
  background: #ff4142;
  display: block;
}
.header__text {
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 50px;
}
.header .button {
  width: 270px;
  height: 80px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
}
.header .button__container {
  width: 200px;
  height: 60px;
  overflow: hidden;
}
.header .button__text {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.5s;
}
.header .button__line {
  position: absolute;
  top: 40px;
  right: -30px;
  content: "";
  width: 80px;
  height: 1px;
  background: #ff4142;
  transition: 0.5s;
}
.header .button:hover .button__line {
  transform: translate(-30px);
}
.header .button:hover .button__text {
  transform: translateY(-60px);
}
@media screen and (max-width: 768px) {
  .header .button {
    width: 200px !important;
  }
  .header .button__text {
    font-size: 12px;
    padding-left: 30px;
  }
  .header .button__line {
    width: 60px;
  }
}
.header__container-right-column {
  position: relative;
  padding: 150px 0;
}
.header__decor-shape {
  position: absolute;
  top: 0;
  left: -10%;
}
.header__decor-shape img {
  height: 1000px;
}
.header__decor-circle {
  position: absolute;
  bottom: 100px;
  left: -30%;
}
.header__decor-circle img {
  width: 400px;
  transition: 1s ease-out;
}

@media screen and (max-width: 1280px) {
  .header__container-right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .header__decor-shape {
    position: absolute;
    top: 0;
    left: 20px;
  }
  .header__decor-circle {
    position: initial;
  }
  .header__decor-circle img {
    width: 80%;
    margin: 0 auto;
    transition: 1s ease-out;
  }
}
@media screen and (max-width: 1700px) {
  .header__logo {
    height: 200px;
  }
  .header__logo img {
    transform: translateX(0);
    margin-left: 50px;
    width: 100px;
  }
}
/* SERVICES */
.services {
  background: #ff4142;
}
.services__container-left-column {
  padding: 100px 50px;
  border-color: #1a1a1a;
}
.services__container-right-column {
  border-color: #1a1a1a;
  position: relative;
}
.services__info {
  margin: 100px 0;
  padding-right: 15%;
}
.services__info-header {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.services__info-header h2 {
  transform: translateY(110%);
  transition: 1s;
}
.services__info-text {
  line-height: 1.8;
  font-weight: 300;
  overflow: hidden;
}
.services__info-text p {
  transform: translateY(-110%);
  transition: 1s;
}
.services__decor-shape {
  position: absolute;
  bottom: 0;
  left: -200px;
}
.services .button {
  width: 270px;
  height: 80px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
}
.services .button__container {
  width: 200px;
  height: 60px;
  overflow: hidden;
}
.services .button__text {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.5s;
}
.services .button__line {
  position: absolute;
  top: 40px;
  right: -30px;
  content: "";
  width: 80px;
  height: 1px;
  background: #ffffff;
  transition: 0.5s;
}
.services .button:hover .button__line {
  transform: translate(-30px);
}
.services .button:hover .button__text {
  transform: translateY(-60px);
}
@media screen and (max-width: 768px) {
  .services .button {
    width: 200px !important;
  }
  .services .button__text {
    font-size: 12px;
    padding-left: 30px;
  }
  .services .button__line {
    width: 60px;
  }
}

.fade-services {
  transform: translateY(0) !important;
}

@media screen and (max-width: 1200px) {
  .services__container {
    overflow: hidden;
  }
  .services__decor-shape {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
