@use "modules/modules.scss";

/* NAVIGATION */
.nav-btn {
    width: 60px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    top: 50px;
    right: 5%;
    cursor: pointer;
    z-index: 30;

    &__line {
        width: 100%;
        height: 4px;
        background: modules.$white;
        display: block;

        &:last-child {
            width: 75%;
        }
    }
}

.nav {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(87,86,86);
    background: linear-gradient(148deg, rgba(87,86,86,1) 0%, rgba(59,59,62,1) 4%, rgba(45,45,50,1) 9%, rgba(26,26,26,1) 20%, rgba(26,26,26,1) 100%);
    transition: 1s;
    overflow: hidden;

    &__logo {
        img {
            width: 200px;
            margin: 50px;
        }
    }

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        border-left: 2px solid modules.$lightgrey;
        opacity: 0;
    }

    &__link {
        text-decoration: none;
        margin: 10px 0;
        font-size: clamp(1rem, 2.5vw, 2rem);
        font-weight: 900;
        letter-spacing: 2px;
        display: block;
        transition: .5s;
        color: white;
    }

    .container__left-column {
        position: relative;
        border-left: none;
    }
}

.nav-toggle {
    top: 0;
}

@keyframes navfade {
    from { opacity: 0 }
    to   { opacity: 1 }
}

.navfade {
    animation-name: navfade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 992px) {

    .nav {

        &__container-right-column { 
            display: none; 
        }

        &__container-left-column {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 20px;
            border-left: 2px solid modules.$lightgrey !important;
            border-right: 2px solid modules.$lightgrey;
        }

        &__logo img {
            transform: unset;
            position: absolute;
            top: 0;
            left: 0;
            margin: 20px;
        }

        &__list {
            height: initial;
            border: none;
        }

        &__item {
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .nav__logo img { width: 70px; }
}

/* HEADER */
.header {
    width: 100%;
    height: 100vh;
    background: modules.$gray;

    img {
        width: 200px;
    }
}
