@use "modules/modules.scss";

/* NAVIGATION */
.nav-btn {
    width: 60px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    top: 100px;
    right: 5%;
    cursor: pointer;
    z-index: 3000;
    transition: 1s;

    &__line {
        width: 100%;
        height: 4px;
        background: modules.$white;
        display: block;
        transition: 1s;

        &:last-child {
            width: 75%;
        }
    }
}

.nav-btn-animation {

    .nav-btn__line {
        transition: 1s;

        &:nth-child(1) {
            transform: rotate(45deg) translateY(-15px) translateX(-5px);
        }

        &:nth-child(2) {
            transform: rotate(-45deg) translateY(-15px) translateX(20px);
        }
        
        &:nth-child(3) {
            opacity: 0;
        }
    }
}

.nav {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: modules.$gray;
    background: linear-gradient(241deg, rgba(87,86,86,1) 0%, rgba(59,59,62,1) 4%, rgba(45,45,50,1) 9%, rgba(26,26,26,1) 20%, rgba(26,26,26,1) 100%);
    transition: 1s;
    overflow: hidden;
    z-index: 500;

    &__container {
        height: 100vh;
    }

    &__logo {
        img {
            width: 200px;
            margin: 50px;
            transform: translateX(-150px);
        }
    }

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        border-left: 2px solid modules.$lightgray;
        font-family: modules.$title-font;
        font-weight: 200;
    }

    &__link {
        text-decoration: none;
        margin: 10px 0;
        font-size: clamp(1rem, 2.5vw, 2rem);
        font-weight: 900;
        letter-spacing: 2px;
        display: block;
        transition: .5s;
        color: modules.$white;
    }

    &__container-right-column {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 80vh;
        }
    }

    .container__left-column {
        position: relative;
        border-left: none;
        opacity: 0;
    }
}

.nav-toggle {
    top: 0;
}

.nav__container-right-column {
    opacity: 0;
}

@keyframes navfade {
    from { opacity: 0 }
    to   { opacity: 1 }
}

.navfade {
    animation-name: navfade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1700px) {

    .nav__logo {

        img {
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 992px) {

    .nav {

        &__container-right-column { 
            display: none; 
        }

        &__container-left-column {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 20px;
            border-left: 2px solid modules.$lightgray !important;
            border-right: 2px solid modules.$lightgray;
        }

        &__logo img {
            transform: unset;
            position: absolute;
            top: 0;
            left: 0;
            margin: 20px;
        }

        &__list {
            height: initial;
            border: none;
        }

        &__item {
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .nav__logo img { width: 70px; }
}

/* HEADER */
.header {
    position: relative;
    width: 100%;
    background: modules.$gray;
    background: linear-gradient(148deg, rgba(87,86,86,1) 0%, rgba(59,59,62,1) 4%, rgba(45,45,50,1) 9%, rgba(26,26,26,1) 20%, rgba(26,26,26,1) 100%);

    &__container {
        min-height: 100vh;
    }

    &__container-left-column {
        border-left: none;
    }
    
    &__left-column-content {
        height: calc(100% - 300px);
        padding: 100px 50px 0 50px;
        border-left: 2px solid modules.$lightgray;
        display: flex;
        flex-direction: column;
    }

    &__logo {
        height: 300px;
        
        img {
            margin: 5vh 0;
            width: 200px;
            transform: translateX(-100px);
        }
    }

    &__title {

        h1 {
            text-transform: uppercase;
            font-family: modules.$title-font;
            font-weight: 300;
            font-size: 2.5em;
            letter-spacing: 3px;
            line-height: 1.2;

            span {
                font-weight: 600;
            }
        }

        &::after {
            content: "";
            width: 200px;
            height: 2px;
            margin: 30px 0;
            background: modules.$red;
            display: block;
        }
    }

    &__text {
        font-weight: 200;
        letter-spacing: 1px;
        line-height: 1.6;
        margin-bottom: 50px;
    }

    .button {
        @include modules.button(modules.$red);
    }

    &__container-right-column {
        position: relative;
        padding: 150px 0;
    }

    &__decor-shape {
        position: absolute;
        bottom: 0;
        right: 350px;
        
        img {
            height: 800px;
        }
    }

    &__decor-circle {
        position: absolute;
        bottom: 100px;
        left: -30%;

        img {
            width: 400px;
            transition: 1s ease-out;
        }
    }
}

@media screen and (max-width: 1700px) {

    .header__logo {

        img {
            transform: translateX(0);
            margin-left: 50px;
        }
    }
}

@media screen and (max-width: 1280px) {

    .header {

        &__container-right-column {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
        }

        &__decor-shape {
            position: absolute;
            top: 0;
            left: 20px;
        }
    
        &__decor-circle {
            position: initial;
    
            img {
                width: 80%;
                margin: 0 auto;
                transition: 1s ease-out;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .header {

        &__container-right-column {
            padding-top: 0;
        }

        &__left-column-content {
            height: calc(100% - 200px);
            padding: 0px 50px 100px 50px;
            border-left: 2px solid modules.$lightgray;
            display: flex;
            flex-direction: column;
        }
    
        &__logo {
            height: 200px;
        }

        &__decor-shape {
            position: absolute;
            top: unset;
            bottom: 300px;
            left: 20%;
            
            img {
                height: 600px;
            }
        }

        &__decor-circle {
            position: initial;
    
            img {
                width: 300px;
            }
        }

        &__decor-text p {
            font-size: 30vw;
        }
    }

    .header__logo {
        height: 200px;

        img {
            width: 100px;
        }
    }
}

/* SERVICES */
.services {
    background: modules.$red;

    &__container-left-column {
        padding: 100px 50px;
    }

    &__container-right-column {
        position: relative;
        padding: 20vh 0 10vh 0;
    }

    &__info {
        margin: 100px 0;
        padding-right: 15%;
    }

    &__info-header {
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 20px;
        overflow: hidden;

        h2 {
            transform: translateY(110%);
            transition: 1s;
        }

        a {
            text-decoration: none;
            color: modules.$white;
            transition: .5s;

            &:hover {
                color: modules.$gray;
            }
        }
    }

    &__info-text {
        line-height: 1.8;
        font-weight: 300;
        overflow: hidden;

        p {
            transform: translateY(-110%);
            transition: 1s;
        }
    }

    &__decor-shape {
        position: absolute;
        bottom: -100px;
        left: -200px;
    }

    &__decor-text {
        width: 100%;
        height: 100%;
    }

    .button {
        @include modules.button(modules.$white);
    }
}

.fade-services {
    transform: translateY(0) !important;
}

@media screen and (max-width: 1200px) {

    .services {

        &__container {
            overflow: hidden;
        }
        
        &__decor-shape {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

@media screen and (max-width: 768px) {

    .services {

        &__decor-shape {
            position: absolute;
            top: unset;
            bottom: 10px;
            left: 20%;
            
            img {
                width: 100%;
                height: auto;
            }
        }

        &__decor-circle {
            position: initial;
    
            img {
                width: 300px;
            }
        }

        &__decor-text p {
            font-size: 30vw;
        }
    }
}


/* OUR WORKS */
.our-works {
    width: 100%;
    background: modules.$gray;
    background: linear-gradient(148deg, rgba(87,86,86,1) 0%, rgba(59,59,62,1) 4%, rgba(45,45,50,1) 9%, rgba(26,26,26,1) 20%, rgba(26,26,26,1) 100%);

    &__container-left-column {
        padding-top: 200px;
    }

    &__decor-text p {
        padding: 200px 0;
    }

    &__decor-shape {
        position: absolute;
        bottom: 0;
        
        img {
            width: 400px;
            animation-delay: 2s;
        }
    }

    &__work {
        position: absolute;
        text-align: right;

        h3 {
            text-transform: uppercase;
            margin: 20px 20px 0 0;
            letter-spacing: 3px;
            font-size: 1.5em;
        }
    }

    &__work-1 {
        top: 200px;
        right: 200px;

        img {
            transition: 1s ease-out;
        }

        img:hover {
            transform: perspective(75em) rotateX(18deg);
            box-shadow: rgba(183, 185, 187, 0.42) 0px 20px 50px -25px;
            border-radius: 10px;
        }
    }

    &__work-2 {
        top: 700px;
        right: 50px;

        img {
            transition: 1s ease-out;
        }

        img:hover {
            transform: perspective(75em) rotateX(18deg);
            box-shadow: rgba(183, 185, 187, 0.42) 0px 20px 50px -25px;
            border-radius: 10px;
        }
    }

    .button {
        @include modules.button(modules.$red);
        position: absolute;
        top: 1200px;
        left: 30px;
    }
}

@media screen and (max-width: 1440px) {

    .our-works {

        &__work {

            img {
                width: 500px;
            }
        }

        &__work-1 {
            top: 100px;
        }

        &__work-2 {
            top: 500px;
        }

        .button {
            top: 900px;
        }
    }
}

@media screen and (max-width: 992px) {

    .our-works {

        &__container {
            flex-direction: column;
        }

        &__container-left-column {
            width: 100%;
        }

        &__container-right-column {
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 100px 0;
        }

        &__decor-text p {
            font-size: 20vw;
        }

        &__decor-shape {
            position: absolute;
            bottom: 0;
            left: calc(50% - 200px);
            
            img {
                width: 400px;
                animation-delay: 2s;
            }
        }

        &__work {
            position: relative;
        }

        &__work-1 {
            top: unset;
            right: unset;
            transform: translateX(-100px);
        }
    
        &__work-2 {
            top: unset;
            right: unset;
            transform: translateX(100px);
            margin: 60px 0;
        }

        .button {
            position: relative;
            top: unset;
            left: unset;
        }
    }
}

@media screen and (max-width: 768px) {

    .our-works {

        &__container {
            flex-direction: column-reverse;
        }

        &__container-left-column {
            padding-top: 0;
            overflow: hidden;
        }

        &__container-right-column {
            display: flex !important;
        }

        &__decor-text p {
            font-size: 30vw;
        }

        &__decor-shape {
            bottom: 0;
            left: unset;
            width: 100%;
            display: flex;
            justify-content: center;
            
            img {
                width: 300px;
            }
        }

        &__work-1 {
            transform: unset;
            width: 90%;

            img {
                width: 100%;
            }
        }
    
        &__work-2 {
            transform: unset;
            width: 90%;

            img {
                width: 100%;
            }
        }
    }
}

/* FOOTER */
.footer {
    background: modules.$darkgray;
    line-height: 2;
    font-weight: 200;

    &__container-left-column {
        padding: 0 50px;
    }

    &__container-right-column {
        justify-content: space-between;
        padding: 0 50px;
    }

    &__contact {
        padding: 100px 0;

        h3 {
            font-size: 2em;

            span {
                text-transform: uppercase;
                font-weight: 200;
                color: modules.$red;
            }
        }
    }

    &__address {
        padding: 100px 0;

        h3 {
            font-size: 2em;
        }
    }

    &__social {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        a {
            text-decoration: none;
            color: modules.$white;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        text-align: center;

        &__container {
            flex-direction: column;
        }

        &__container-left-column {
            width: 100%;
        }

        &__container-right-column {
            display: flex !important;
            flex-direction: column;
            width: 100%;
        }

        &__contact {
            padding: 50px 0;
        }
    
        &__address {
            padding: 50px 0;
        }
    
        &__social {
            padding: 50px 0;
        }
    }
}

/* PROJECT */
.project-header {
    background: modules.$gray;

    &__container-left-column {
        border-left: none;
    }

    &__logo img {
        width: 200px;
        padding: 50px 0;
        transform: translate(-100px);
    }

    &__left-column-content {
        border-left: 2px solid modules.$lightgray;
        padding: 0 15px;
    }

    &__main-image {
        width: 800px;
        padding-top: 30px;
        z-index: 10;
        position: relative;

        img:nth-child(1) {
            width: 100%;
        }
    }

    &__decor-circle {
        position: absolute;
        bottom: -75px;
        right: -75px;
        width: 150px;
    }

    &__info {

        h2 {
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-top: 50px;
        }

        p {
            margin: 30px 0 60px 0;
        }

        h3 {
            text-transform: uppercase;
            font-size: 1em;
            padding-bottom: 50px;
        }

        a {
            text-decoration: none;
            color: modules.$white;
        }
    }
}

.project-main {

    &__container-left-column {
         padding: 0 15px;

         img {
             margin: 50px 0;
             position: relative;
             z-index: 100;
         }
    }
 
    &__container-right-column {
        padding: 0 15px;
        flex-direction: column;
         
         img {
             margin-top: 1500px;
             transform: translate(-50px);
         }
    }

    .button {
        @include modules.button(modules.$red);
        margin: 100px 50px;
    }
 }

@media screen and (max-width: 1700px) {

    .project-header {

        &__logo img {
            transform: translate(0);
        }
    }
    
}

@media screen and (max-width: 1440px) {

    .project-main {

        &__container-left-column {
   
            img:nth-child(1) {
                width: 200%;
            }

            img:nth-child(2) {
                width: 100%;
            }
       }

       &__container-right-column {
            
        img {
            width: 100%;
            transform: translate(0);
            margin-top: 900px;
        }
   }
    }
}

@media screen and (max-width: 1200px) {

    .project-header {

        &__main-image {
            width: 120%;
    
            img:nth-child(1) {
                width: 100%;
            }
        }
    }

    .project-main {

        &__container-left-column {
   
            img {
                width: 100%;
            }
       }
    
       &__container-right-column {
            
            img {
                width: 100%;
                transform: translate(0);
                margin-top: 800px;
            }
       }
    }
}

@media screen and (max-width: 768px) {

    .project-header {

        &__logo img {
            width: 100px;
            margin-left: 25px;
        }

        &__main-image {
            width: 100%;
    
            img:nth-child(1) {
                width: 100%;
            }
        }

        &__decor-circle {
            width: 100px;
            bottom: -50px;
            right: 20px;
        }

        &__decor-text {
            display: none;
        }
    }

    .project-main {

        &__container-left-column {
   
            img:nth-child(1) {
                width: 100%;
                margin: 0;
            }

            img:nth-child(2) {
                width: 100%;
                margin: 30px 0;
            }
       }

       &__container-right-column {
   
            img {
                width: 100%;
                transform: translate(0);
                margin: 0;
            }
        }
    }
}

/* SUBPAGE */
.subpage-content {
    background: modules.$gray;

    &__container-left-column {
        padding: 50px;
    }

    &__container-right-column {
        padding: 50px;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;

        .subpage-content__webpage {
            transform: translateX(-232px);
        }
    }

    h2 {
        font-weight: 300;
        margin-bottom: 30px;
    }
    
    h3 {
        color: modules.$yellow;
        font-weight: 400;
    }

    p {
        line-height: 1.6;
        letter-spacing: 1px;
        font-weight: 200;
        font-size: 14px;
        margin: 10px 0 30px 0;
    }

    ul {
        padding-left: 20px;
        margin-bottom: 30px;  
        font-size: 14px;
        font-weight: 200;

        li {
            margin: 5px 0;
        }
    }

    a {
        text-decoration: none;
        color: modules.$yellow;
    }

    &__lion {
        position: absolute;
        top: 300px;
        left: -200px;
        width: 200px;
    }

    .blog-home__article {
        border: 1px solid transparent;

        h2 a {
            color: modules.$yellow;

            &:hover {
                color: modules.$white;
            }
        }
    }

    &__webpage {
        height: 418px;
        margin-bottom: 50px;

        h3 {
            text-transform: uppercase;
        }
    }
}

.subpage-contact {
    background: modules.$red;

    &__container-left-column {
        padding: 50px;
    }

    &__container-right-column {
        padding: 50px;
        flex-direction: column;
    }

    h2 {
        font-weight: 300;
        margin-bottom: 30px;
    }

    p {
        line-height: 1.6;
        letter-spacing: 1px;
        font-weight: 200;
        font-size: 14px;
    }

    &__form {
        display: flex;
        flex-direction: column;

        input, textarea {
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: modules.$lightgray;
            margin: 15px 0;
            padding: 10px;
            background: modules.$red;
            color: modules.$white;
            letter-spacing: 1.5px;
            display: block;

            &::placeholder {
                color: modules.$white;
                opacity: 1; /* Firefox */
            }
        }

        input[type=submit] {
            background: modules.$lightgray;
            width: 120px;
            color: white;
            letter-spacing: 1.5px;
            cursor: pointer;
        }

        textarea {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1440px) {

    .subpage-content__lion {
        display: none;
    }
}

/* CONTACT */
.contact {

    &__container-left-column {
        padding: 0 50px;
    }

    &__container-right-column {
        padding: 0 50px;
        justify-content: flex-start;
        flex-direction: column;

        h2 {
            font-family: modules.$title-font;

            &::after {
                content: "";
                width: 60px;
                height: 1px;
                background: modules.$red;
                display: block;
                margin: 20px 0;
            }         
        }

        p {
            width: 75%;
            margin-bottom: 50px;
            line-height: 1.6;
            letter-spacing: 1px;
            font-weight: 200;
        }
    }

    &__details {
        line-height: 2;
        letter-spacing: 1px;

        h1 {
            font-size: 2em;
            font-family: modules.$title-font;

            span {
                text-transform: uppercase;
                font-weight: 200;
                color: modules.$red;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        input, textarea {
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: modules.$lightgray;
            margin: 15px 0;
            padding: 10px;
            background: modules.$gray;
            color: modules.$white;
            letter-spacing: 1.5px;
        }

        input[type=submit] {
            background: modules.$lightgray;
            width: 120px;
            color: white;
            letter-spacing: 1.5px;
            cursor: pointer;
        }

        textarea {
            font-size: 16px;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 2;
        margin-top: 50px;

        a {
            text-decoration: none;
            color: modules.$white;
        }
    }

    &__map {
        border: 5px solid modules.$gray;
    }
}

/* BLOG */
.blog-home {
    background: modules.$red;

    &__container-left-column {
        padding: 200px 50px;

        .button {
            @include modules.button(modules.$white);
            margin: 30px 0;
        }
    }

    &__article {
        margin-bottom: 100px;
        line-height: 1.8;
        font-weight: 300;

        h2 {
            margin-bottom: 20px;
            line-height: 1.4;
        }

        a {
            color: modules.$white;
            text-decoration: none;
            font-weight: 500;
            transition: .5s;

            &:hover {
                color: modules.$gray;
            }
        }
    }

    &__decor-shape {
        position: absolute;
        right: 350px;
        bottom: 0;
        z-index: 100;
    }
}

.blog-header {
    
    &__container {
        min-height: unset;
    }
}

@media screen and (max-width: 768px) {
    
    .blog-home {

        &__decor-text p {
            font-size: 30vw;
        }
    }
}