@use "colors";
@use "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: fonts.$basic-font;
    font-weight: 300;
    color: colors.$white;
    background: colors.$gray;
    width: 100%;
    height: 100%;
    overflow: auto; 
}

#my-scrollbar {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.cursor {
    position: fixed;
    padding: .2rem;
    border: 2px solid colors.$white;
    background: colors.$white;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: .4s;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
}

@media screen and (max-width: 1200px) {
    .cursor { display: none; }}

.cursor-hover {
    opacity: 1;
    background: colors.$white;
    transform: scale(8);
}

@keyframes levitation {
    0%  { transform: translateY(0) }
    50% { transform: translateY(-100px) }
    0%  { transform: translateY(0) }
}

.levitation {
    animation-name: levitation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes circulation {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.circulation {
    animation-name: circulation;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__left-column {
        width: 600px;
        border-width: 0 2px;
        border-color: colors.$lightgray;
        border-style: solid;
        position: relative;
    }
    
    &__right-column {
        width: 600px;
        display: flex;
        justify-content: center;
        border-width: 0 2px;
        border-color: colors.$lightgray;
        border-style: solid;
        position: relative;
    }
}

@media screen and(max-width: 1200px) {

    .container{

        &__left-column {
            width: 50%;
        }

        &__right-column {
            width: 50%;
        }
    }
}

@media screen and(max-width: 768px) {

    .container {
        flex-direction: column;

        &__left-column {
            border: none;
            width: 100%;
        }

        &__right-column {
            width: 100%;
            border: none;
        }
    }
}

@mixin button($color) {
    width: 270px;
    height: 80px;
    border: 1px solid colors.$white;
    color: colors.$white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .5s;

    &__container {
        width: 200px;
        height: 60px;
        overflow: hidden;
    }

    &__text {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-family: fonts.$title-font;
        font-size: 14px;
        letter-spacing: 2px;
        transition: .5s;
    }

    &__line {
        position: absolute;
        top: 40px;
        right: -30px;
        content: "";
        width: 80px;
        height: 1px;
        background: $color;
        transition: .5s;
    }

    &:hover .button__line {
        transform: translate(-30px);
    }

    &:hover .button__text {
        transform: translateY(-60px);
    }

    @media screen and(max-width: 768px) {

        width: 200px !important;

        &__text {
            font-size: 12px;
            padding-left: 30px;
        }

        &__line {
            width: 60px;
        }
    }
}

.decor-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0 300px 0;
    transition: 1s;

    p {
        font-size: 10vw;
        text-align: right;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 10px;
        font-weight: 900;
        transform: rotate(-90deg);
        color: transparent;
        -webkit-text-stroke: 1.5px colors.$white;
        -webkit-font-smoothing: antialiased;
        user-select: none;
    }
}



.transition-fade {
    transition: .5s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(-100px);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: left;
}

.transition-wipe {
    transition: .7s cubic-bezier(0, 0, 0.58, 1);
    transform: scaleX(0);
}

html.is-animating .transition-wipe {
    transform: scaleX(1);
}